<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awareness</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
  <img src="{% static 'img/fud.jpg' %}" width="1500px"; height="500px";/>

  <p style="font-size:20px;">The Food Safety Awareness Training provides knowledge for awareness of food safety management system, HACCP system, food safety hazards,
      good personal hygiene, etc. This Training helps in the improvement of food safety in any food
      establishment. These all subjects will be useful in daily practices for any food organizations,
      such as food processing/manufacturing companies, eateries, food stores, etc.
      Food Safety Awareness Training also includes PRP requirements, which help the organization to make
      changes in the plant and facility to establish food safety. </p>
  <h2><b> HEALTH AND SAFETY MYTHS</b></h2>
  <br>
  <img src="{% static 'img/myth 1.jpg' %}">
       <img src="{% static 'img/myth 2.jpg' %}">
      <img src="{% static 'img/myth 3.jpg' %}">
      <img src="{% static 'img/myth 4.jpg' %}">
      <img src="{% static 'img/myth 5.jpg' %}">
  <br>

  <p style="font-style:italic; font-size:20px;">You can design an excellent safety program but putting it into action is difficult if employees have the wrong picture of safety. For example, employees who believe that accidents are unavoidable may think that safety programs are useless, since accidents will happen anyway. Safety is often regarded as a boring and rigid topic, but you can make it fun and interesting with the help of technology and interactive courses.

Companies should adjust their view point that safety is an expense with no ROI. Actually, safety can be considered a lucrative investment when the costs you assume are much lower than the accident costs you avoid.

Employees need to understand that a safety program is there to help them, not to make their job harder. Reporting all incidents is important, no matter how small, since this helps prevent the larger accidents while improving constantly. By increasing the knowledge around all the benefits of safety,

</p>
 <h4>We Should Maintain Personal Hygiene</h4>
  <img src="{% static 'img/person.jpg' %}">


{% block content %}
{% endblock %}

</body>
</html>

