<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>facilities</title>
</head>
<body>

<h2 style="color:orange; font-size:45px; text-align:center">We Have </h2>
<h3 style="color:green;">Location : M.C.ROAD,Thiruvalla,Pathanamthitta,kerala</h3>
<h3 style="color:red;">Departments : Quality and Safety<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Emergency Care<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Surgical Services<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inpatient Care<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outpatient Care<br></h3>

<h3 style="color:blue;">Ambulatory Surgical Centers:<p>allow patients to receive certain surgical procedures outside a hospital environment. These environments often offer surgeries at a lower cost than hospitals while also reducing the risk of exposure to infection—since patients are there for surgery, not to recover from sickness and disease.</p> </h3>
<h3 style="color:indigo;">Blood Bank :<p>Blood banks allow donors to donate blood and platelets while also storing and sorting blood into components that can be used most effectively by patients.

“Red blood cells carry oxygen, platelets help the blood clot and plasma has specific proteins that allows proper regulation of coagulation and healing,” writes the American Society of Hematology. Sometimes patients need these particular components specifically, and sometimes they just need lots of blood</p></h3>
<h3 style="color:purple;">Diabetes Education Centers:<p>Diabetes is a very serious illness in the United States. Over 30 million people have diabetes and many of them don’t know it, reports the Centers for Disease Control (CDC). Additionally, over a third of the national population is highly at risk for diabetes, in a condition called prediabetes.

Patients with diabetes need to manage the disease and typically make lifestyle adjustments to keep it from becoming life-threatening. Since diabetes is so widespread, diabetes education centers rose up to help patients manage their disease and to help people at risk for diabetes to avoid it, if possible.</p></h3>
<h3 style="color:maroon;">Dialysis Centers:<p>Patients with kidney disease often need regular treatments of dialysis. Dialysis is a process that filters and cleans the blood artificially—the work functioning kidneys normally take on. About 14 percent of Americans have chronic kidney disease. When kidneys aren’t able to filter the blood the way they are supposed to, patients might need dialysis as often as three times a week to avoid serious complications</p></h3>
<h3 style="color:teal;">Telehealth:<p>While telehealth isn’t really a type of healthcare facility, it is worth mentioning in its potential for serious growth in the coming years. Telehealth, telemedicine and remote healthcare can represent a digital type of healthcare facility.</p></h3>

</body>
</html>