<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Delete</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<h1>Cancelation of Appoinment </h1>
<br>
<form action="" method="post">
  {% csrf_token %}

  <h2>Are You Sure Want to Cancel the Appoinment ?</h2>
    <br>

<button type="submit" class="btn btn-danger" value="confirm delete" >Cancel</button></form>

</body>
</html>